* {
  font-family: Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  background: #1abc9c;
  padding: 10px;
  border-radius: 3px;
}

.splash-container {
    background: #8dd61f;
    width: 100%;
    height: 50%;
    top: -140px;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 25%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    padding: 10px;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
	margin-top: 20px;
    top: 33%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content {
  margin-left: 100px;
  width:900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #333333;
  text-align: center;
  padding: 5px;
}

.l-box {
	padding: 10px;
}

.logo {
width: 5%;
height:auto;
}